@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.13.1/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

/* 전역 폰트 스타일 */
body, h1, h2, h3, h4, h5, h6, a, .lottemartdream * {
    font-family: 'Pretendard-Regular';
    font-weight: 600;
    font-style: normal;

}

/* 네비게이션 및 기타 스타일 */
header>div>ul>li {
    margin-right: 30px;
}

header>div>ul>li>ul {
    display: none;
    position: absolute;
    background-color: white;
}

header>div>ul>li:hover>ul {
    display: block;
}

/* 추가적인 스타일 (사용자 정의에 따라 변경) */
.table-box-1 th, .table-box-1 td {
    /* 스타일 속성 추가 */
}
